body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(4,138,158,1) 18%, rgba(35,1,97,1) 93%);
}

.navBar {
    background-color: whitesmoke;
    width: 100%;
    padding: .7em;
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexColumn {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.headText {
    color: whitesmoke;
    font-family: 'Pacifico', cursive;
    font-size: 5em;
    text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
        2px 2px 0 #000;
    display: flex;
    align-items: center;
    padding-top: 1em;
    justify-content: center;
}

.plunderText {
    transform: translateX(-.5em) translateY(-.2em)
}

.postSection {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    background-color: rgba(245, 245, 245, 0.74);
    width: 80%;
    align-items: center;
    padding: 1em;
    border-radius: 1em;
}

.post {
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    width: 95%;
    background: rgba(169, 169, 169, 0.411);
    margin: .5em;
    border-radius: 1em;
    padding: .5em;
}

.userIcon {
    height: 5em;
    width: 5em;
    border-radius: 1em;
    border: 1px solid black;
}

.postHead {
    display: flex;
    align-items: center;
}

.userPostTitle{
    flex-basis: 50%;
    margin-left: 1em;
}

.locationPrice{
    text-align: right;
    flex-basis: 40%;
}

.username {
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
}

.userProduct {
    font-family: 'Acme', sans-serif;
    font-size: 1.5em;
}

.userPrice {
    font-family: 'Acme', sans-serif;
    font-size: 2em;
}

.navBTN {
    font-family: 'Amatic SC', cursive;
    font-size: 1.3em;
    padding-left: 1.5em;
    margin-right: 1.5em;
}