body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* background: radial-gradient(circle, rgba(4,138,158,1) 18%, rgba(35,1,97,1) 93%); */
    background: url('../images/sidebar-bg.jpg') fixed;
    background-size: cover;
    
}

.navBar {
    background-color: whitesmoke;
    width: 100%;
    padding: .7em;
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexColumn {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.headText {
    color: whitesmoke;
    font-family: 'Pacifico', cursive;
    font-size: 5em;
    text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
        2px 2px 0 #000;
    display: flex;
    align-items: center;
    padding-top: 1em;
    justify-content: center;
}

.plunderText {
    transform: translateX(-1.5em) translateY(1em);
}

.plunderLogo {
    height: 3em;
    transform: translateX(1.5em);
}

.postSection {
    /* display: flex;
    flex-direction: column; */
    overflow: scroll;
    flex-basis: 60%;
    background-color: rgba(245, 245, 245, 0.74);
    width: 80%;
    align-items: center;
    padding: 1em;
    border-radius: 1em;
}

.post {
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    width: 95%;
    background: rgba(169, 169, 169, 0.411);
    margin: .5em;
    border-radius: 1em;
    padding: .5em;
}

.userIcon {
    height: 5em;
    width: 5em;
    border-radius: 1em;
    border: 1px solid black;
}

.postHead {
    display: flex;
    align-items: center;
}

.userPostTitle{
    flex-basis: 50%;
    margin-left: 1em;
}

.locationPrice{
    text-align: right;
    flex-basis: 15%;
}

.username {
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
}

.userProduct {
    font-family: 'Acme', sans-serif;
    font-size: 1.5em;
}

.userPrice {
    font-family: 'Acme', sans-serif;
    font-size: 2em;
}

.navBTN {
    font-family: 'Amatic SC', cursive;
    font-size: 1.3em;
    padding-left: 1.5em;
    margin-right: 1.5em;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.navBTN:hover {
    transform: scale(2) translateY(.2em) translateX(-.2em);
    color: darkcyan;
}

.navLogo {
    height: 2.5em;
    transition: .3s ease;
    cursor: pointer;
}
.navLogo:hover {
    animation: rock 1s infinite alternate
}

@keyframes rock {
    0% {
        transform: scale(1.0) rotate(-30deg)

    }
    100% {
        transform: scale(1.5) rotate(30deg)

    }
}

.mapBTN {
    padding: 1em;
    padding-left: 1em;
    padding-right: 1em;
    flex-basis: 15%;
    text-align: center;
    border: 1px solid black;
    font-family: 'Amatic SC', cursive;
    font-size: 1em;
    border-radius: 1em;
    background: radial-gradient(circle, rgba(4,138,158,1) 18%, rgba(35,1,97,1) 93%);
    color: whitesmoke;
}

.mapBTN:hover {
    border: 1px solid whitesmoke;
}

@media only screen and (min-width: 600px) {
    .plunderText {
        transform: translateX(-.5em) translateY(-.2em)
    }
    .plunderLogo {
        transform: translateX(0);
    } 
}