.modalBG {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.295);
    position: fixed;
    z-index: 1;
    visibility: hidden;
}

.modalLogin {
    position: absolute;
    top: 30%;
    left: 5%;
    height: 30%;
    width: 80%;
    background-color: whitesmoke;
    border-radius: 1em;
    border: 1px solid black;
    visibility: hidden;
}

.modalRegister {
    position: absolute;
    top: 20%;
    left: 5%;
    height: 60%;
    width: 80%;
    background-color: whitesmoke;
    border-radius: 1em;
    border: 1px solid black;
    visibility: hidden;
}
.modalPost {
    position: absolute;
    top: 20%;
    left: 5%;
    height: 60%;
    width: 80%;
    background-color: whitesmoke;
    border-radius: 1em;
    border: 1px solid black;
    visibility: hidden;
}

.modalMap {
    position: absolute;
    top: 20%;
    left: 10%;
    height: 60%;
    width: 80%;
    background-color: whitesmoke;
    border-radius: 1em;
    border: 1px solid black;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modalPlunders {
    position: fixed;
    top: 30%;
    left: -55%;
    height: 50%;
    width: 50%;
    background-color: rgba(245, 245, 245, 0.83);
    border: 1px solid black;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 1s ease-in-out;
    z-index: 2;
}

.showPlunders {
    transform: translateX(100%);
}

.show {
    visibility: visible;
}

.login {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
}

.inputFields {
    height: 2em;
    width: 10em;
    border: 1px solid black;
}

.inputFields:focus {
    border: 1px solid darkblue;
    outline: none;
}

.submitBTN {
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border: 1px solid black;
    font-family: 'Amatic SC', cursive;
    font-size: 1em;
    border-radius: 1em;
    background: radial-gradient(circle, rgba(4,138,158,1) 18%, rgba(35,1,97,1) 93%);
    color: whitesmoke;
    transition: .3s ease-in-out;
}

.noTrans {
    transition: none;
}

.submitBTN:hover {
    border: 1px solid whitesmoke;
    transform: scale(1.2);
}

.sideBar {
    font-family: 'Acme', sans-serif;
    font-size: 1em;
    text-align: center;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.sideBar:hover {
    transform: scale(2) translateX(1em);
    color: darkcyan;
    text-shadow:
		-.5px -.5px 0 #000,
		.5px -.5px 0 #000,
		-.5px .5px 0 #000,
        .5px .5px 0 #000;
}

.submitLabel {
    font-family: 'Amatic SC', cursive;
    font-size: 1.3em;
    width: 10em;
    text-align: right;
    transform: translateX(-2.1em);
    display: flex;
    justify-content: flex-end;
    margin-right: .3em;
}

.descriptions {
    display: flex;
    justify-content: space-evenly;
    border-radius: 1em;
    opacity: 0;
    height: 0;
    pointer-events: none;
    transition: .2s ease-in-out;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
    font-size: 1.1em;
    
}


.showDesc {
    margin: 1em;
    padding: 1em;
    pointer-events: all;
    height: 50%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.129);
}

.descriptionIMG {
    height: 10em;
}

.paraText {
    font-family: 'Acme', sans-serif;
    font-size: 1.1em;
}

.padding3R {
    padding-right: .3em;
}

.mapFrame {
    height: 50%;
    width: 80%;
}

@media only screen and (min-width: 600px) {
    .descriptions {
        flex-direction: row;
    }
    .modalPlunders{
        left: -45%;
        width: 40%;
    }
    .modalLogin {
        left: 15%;
        width: 60%;
    }
    .modalRegister {
        left: 15%;
        width: 60%;
    }
    .modalPost {
        left: 15%;
        width: 60%;
    }
    .modalMap {
        left: 15%;
        width: 60%;
    }

}

@media only screen and (min-width: 768px) {
    .modalPlunders{
        left: -35%;
        width: 30%;
    }
    .modalLogin {
        width: 50%;
    }
    .modalRegister {
        width: 50%;
    }
    .modalPost {
        width: 50%;
    }
    .modalMap {
        width: 50%;
    }
    
}

@media only screen and (min-width: 1000px) {
    .modalPlunders{
        left: -25%;
        width: 20%;
    }
    .modalLogin {
        left: 30%;
        width: 40%;
    }
    .modalRegister {
        left: 30%;
        width: 40%;
    }
    .modalPost {
        left: 30%;
        width: 40%;
    }
    .modalMap {
        left: 30%;
        width: 40%;
    }
    
}

.mapDiv {
    height: 60%;
    width: 80%;
    background-color: darkgray;
    border-radius: 1em;
    border: 1px solid black;
    overflow: hidden;
    text-align: center;
}

#map {
    height: 100%;
    width: 100%;
    background-color: darkgray;
}

.modalMapDescription {
    margin: 2em;
    font-family: 'Amatic SC', cursive;
    font-size: 1.3em;
    text-align: center;
}